<body>

<div id="sideMenu" class="ui left demo vertical inverted sidebar labeled icon menu">
  <a class="item" [routerLink]='["/"]' [routerLinkActive]='["active"]'
     [routerLinkActiveOptions]='{ exact: true }'>
    <i class="home icon"></i>
    Home
  </a>
  <a class="item" [routerLink]='["/market"]' [routerLinkActive]='["active"]'>
    <i class="shopping cart icon"></i>
    Market
  </a>
  <a class="item" [routerLink]='["/admin"]' [routerLinkActive]='["active"]'>
    <i class="user circle icon"></i>
    Admin
  </a>
</div>
<div class="pusher">
  <app-nav-menu></app-nav-menu>
  <div class="">
    <router-outlet></router-outlet>
  </div>
</div>


</body>
